<div class="row wrap-about-me">
  <div class="col-lg-6" data-aos="flip-up" data-aos-duration="1200">
    <img [src]="imagePath" class="rounded img-responsive" alt="wrapkit" />
  </div>
  <div class="col-lg-6 no-trans">
    <div class="text-box">
      <small class="text-info font-medium">software developer</small>
      <h3 class="font-light">
        Paweł Mozoła
      </h3>
      <p>
        Hej, mam na imie Paweł. Jestem programista związanym z technologiami .Net. Na codzień pracuje z C#, bazami
        zarówno
        z relacyjnymi jak i nierelacyjnymi, Angularem i usługami chmurowymi Azure.
        W wolnym czasie lubie pobawić sie automatyką domową, uprawiam różne sporty(koszykówka, crossfit, bieganie), i
        gram na konsoli.
      </p>
      <p>
        Aby sprawdzic dotychczasowa moja kariere zawodowa wejdz na profil LinkedIn
      </p>

      <a class="btn btn-info-gradiant btn-md btn-arrow m-t-20" data-toggle="collapse"
        routerLink="https://www.linkedin.com/in/pawelmozola/">
        <span>LinkedIn
          <i class="ti-arrow-right"></i>
        </span>
      </a>
    </div>
  </div>
</div>